.nav {
    grid-area: n;
    background: rgba(42, 248, 162, 0.6);
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.navbarItem {
    font-weight: bold;
    font-size: 20px;
    color: rgba(117, 149, 231, 0.95);
    cursor: pointer;
    text-decoration: none;
}

.navbarItem:last-child {
    margin-top: 15px;
}

.activeNav {
    color: rgba(253, 213, 112, 0.73);
}