.dialogsWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsList {
    display: flex;
    flex-direction: column;
}

.dialogsList .userItem {
    text-decoration: none;
    color: rgb(39, 224, 146);
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

.dialogsList .activeDialog {
    font-size: 22px;
    color: rgba(117, 149, 231, 0.91)
}

.messageBlock {

}

.messageBlock .messageItem {
    font-weight: 500;
    font-size: 18px;
}